databases:
  - name: epidemiqc-db

services:
  - type: web
    name: epidemiqc-api
    runtime: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: epidemiqc-db
          property: connectionString
      - key: JWT_SECRET
        generateValue: true

  - type: web
    runtime: static
    name: epidemiqc-frontend
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
